.container {
	width: 600px;
	height: 600px;
	overflow: hidden;
}

.frame {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}


.image-box {
	width: 600px;
	height: 400px;

	display: flex;
	flex-direction: column;
}

ul {
	display: flex;
}

li {
	list-style: none;
	padding: 0px 10px;
}

.current {
	color: red;
}


/* Javascript classes toevoegen */

.pos0 {
	position: relative;
	left: 0px;

	/* transition: <property> <duration> <timing-function> <delay>; */
	transition: all 1s ease 0.2s;
}

.pos1 {
	position: relative;
	left: -600px;

	transition: all 1s ease 0.2s;
}

.pos2 {
	position: relative;
	left: -1200px;

	transition: all 1s ease 0.2s;
}

.pos3 {
	position: relative;
	left: -1800px;

	transition: all 1s ease 0.2s;
}

.pos4 {
	position: relative;
	left: -2400px;

	transition: all 1s ease 0.2s;
}