body {

	height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
	width: 600px;
	height: 490px;
	overflow: hidden;
}

.frame {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}


.image-box {
	width: 600px;
	height: 400px;

	display: flex;
	flex-direction: column;
}

ul {
	display: flex;
	padding: 0;
	justify-content: center;
}

li {
	list-style: none;
    padding: 0px 10px;
    color: #eeeeee;
}

.current {
	color: #039be5;
}

button {
	background-color: #03A9F4;
	color: white;
    border-style: none;
    cursor: pointer;
    width: 100px;
    height: 40px;
    font-size: 16px;
}

button:hover {
	background-color: #039be5;
	font-size: 15px;
}

button:focus {
	outline: 0;
}



/*
button.prev {
    position: relative;
    left: 10px;
    top: -160px;
}

button.next {
    position: relative;
    right: -490px;
    top: -160px;
}
*/


/* Javascript classes toevoegen */

.pos0 {
	position: relative;
	left: 0px;

	/* transition: <property> <duration> <timing-function> <delay>; */
	transition: all 1s ease 0.2s;
}

.pos1 {
	position: relative;
	left: -600px;

	transition: all 1s ease 0.2s;
}

.pos2 {
	position: relative;
	left: -1200px;

	transition: all 1s ease 0.2s;
}

.pos3 {
	position: relative;
	left: -1800px;

	transition: all 1s ease 0.2s;
}

.pos4 {
	position: relative;
	left: -2400px;

	transition: all 1s ease 0.2s;
}