

header {
	width: 100%;
	text-align: center;
}

.container {
	width: 214px;
	height: 520px;
	overflow: hidden;
	margin: auto;
}

.frame {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

article {
	width: 214px;
	height: 520px;

	display: flex;
	flex-direction: column;
}

.btn {
	text-align: center;
}


/* Javascript classes toevoegen */

.pos0 {
	position: relative;
	left: 0px;
	/* transition: <property> <duration> <timing-function> <delay>; */
	transition: all 1s ease 0.2s;
}

.pos1 {
	position: relative;
	left: -214px;
	transition: all 1s ease 0.2s;
}

.pos2 {
	position: relative;
	left: -428px;
	transition: all 1s ease 0.2s;
}

.pos3 {
	position: relative;
	left: -642px;
	transition: all 1s ease 0.2s;
}

.pos4 {
	position: relative;
	left: -858px;
	transition: all 1s ease 0.2s;
}

.pos5 {
	position: relative;
	left: -1072;
	transition: all 1s ease 0.2s;
}
